.titleContainer {
    position: relative;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 80px;
    background-color: var(--softBg);
    border-radius: 50px;
    overflow: hidden;
}
.title {
    color: var(--text);
    text-transform: uppercase;
    z-index: 99;
}
.titleContainer::before {
    content: '';
    position: absolute;
    width: 600px;
    height: 800%;
    background: linear-gradient(rgb(255, 60, 0), rgb(255, 251, 0));
    animation: animate 4s linear infinite;
}
.titleContainer::after {
    content: '';
    position: absolute;
    background: var(--bg);
    inset: 100px;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
